@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&family=Open+Sans:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

/*
font-family: 'Bangers', cursive;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

header, body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

/*----------Capçalera HOME----------*/

.capçalera{
	width: 100%;
	margin: 0px, 0px, 0px, 0px;
	padding-top: 50px;
    padding-bottom: 50px;
	box-shadow: 0px 3px 4px grey;
	margin: auto;
	float: center;
	background-image: url(imatges/headerimage1.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    color: black;
}

.titol{
	width: 520px;
	margin: auto;
	float: center;
	border-top: solid;
	border-top-color: black;
	border-top-width: 4px;
	border-bottom: solid;
	border-bottom-color: black;
	border-bottom-width: 4px;
  background-color: rgb(255, 255, 255, 0.7);
}

.titol h1{
	padding: 0px 0px 0px 0px;
	margin: 0px, 0px, 0px, 0px;
	color: black;
	text-align: center;
	font-family: 'Bangers', cursive;	
	font-size: 3.5em;
	letter-spacing: 5px;
}

.titol h2{
	margin: 0px, 0px, 0px, 0px;
	color: black;
	text-align: center;
	font-family: 'Lobster', cursive;
	letter-spacing: 2px;
}

.menu{
    background-color: rgb(255, 255, 255, 0.7);
	width: 520px;
    padding-bottom: 5px;
	float: center;
	margin: auto;
}

.menu ul{
	list-style: none;
	padding-top: 13px;
	text-align: center;
	margin-top: 0px;
}

.menu li{
    display: inline-block;
    margin-right: 20px;
}

.menu a{
	color: black;
	text-decoration: none;
	transition: all 0.1s;
	text-align: center;
}

.menu a:hover{
	border-bottom: solid;
	border-bottom-color: white;
	border-bottom-width: 2px;
}

/*--------------Galeria------------*/
nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
nav h2{
  color: lightgrey;
}

.galeria{
    width: 80%;
    display: flex;
    justify-content: center;
}
.galeria img{
    width: 90%;
}


/*------------------Qui som?-----------------*/
.quisom{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.info{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.imatge{
    width: 50%;
}
.imatge img{
    width: 80%;
}
.text{
    width: 50%;
}





/*----------Contact us-----*/
.contacteBody{
    width: 100%;
    background-image: url(../images/contact.png);
    background-repeat: none repeat;
    background-size: cover;
  }
  .imatgeFons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .container{
      width: 90%;
    height: 100%;
      display: flex;
    justify-content: center;
    margin: 100px 0px;
    padding: 40px 0px;
    background-color: rgb(255, 255, 255, 0.9);
  }
  
  .formulari{
      width: 90%;
      margin: auto;
      float: center;
    
  }
  form{
    display: flex;
    flex-direction: column;
  }
  
  .contacts{
      width: 80%;
      margin: auto;
      float: center;
      margin-top: 50px;
  }
  .contacts h1{
      text-align: left;
      font-family: 'Jaldi', sans-serif;
      color: #262626;
      font-size: 2em;
  }
  
  iframe{
      float: center;
      margin: auto;
  }
  
  .contactinfo{
      width: 30%;
      margin: auto;
      float: left;
  }
  .contactinfo h1{
      text-align: left;
      font-family: 'Jaldi', sans-serif;
      color: #262626;
      font-size: 2em;
      margin-left: 20px;
      margin-top: 10px;
  }
  .contactinfo p{
      font-size: 1em;
      font-family: 'Jaldi', sans-serif;
      letter-spacing: 1.2px;
      text-align: justify;
      margin: 20px 20px 20px 20px;
  }
  
  .contactform{
      width: 100%;
      float: left;
      margin: auto;
      margin-left: 20px;
    margin-right: 30px;
  }
  .contactform h1{
      text-align: left;
      font-family: 'Jaldi', sans-serif;
      color: #262626;
      font-size: 2em;
      margin-top: 10px;
  }
  
  
  label{
      font-size: 1em;
      font-family: 'Jaldi', sans-serif;
      letter-spacing: 1.2px;
      text-align: justify-all;
  }
  
  textarea{
    width: 85%;
    height: 200px;
      float: left;
  }
  
  .enviar{
      float: left;
      margin: auto;
    width: 100px;
      padding: 4px 7px 4px 7px;
      margin: 30px 10px 10px 0px;
  }

  .enviar{
    animation-name: boto;
    animation-duration: 3s;
    animation-timing-function: 5s;
    animation-iteration-count: infinite;
    position: relative;
  }
  
  @keyframes boto{
    0% {
      right: 0px;
    }
    100%{
      right: -1000px;
    }
  }
  


/*----------FOOTER----------*/
.footer{
	margin: auto;
	margin-top: 200px;
	width: 100%;
	height: 100px;
	background-color: #262626;
}
.xarxes{
	margin: auto;
	float: center;
	width: 110px;
	height: 34px;
	padding-top: 20px;
	padding-left: 40px;

}
.xarxes a{
	color: white;
	margin:auto;
	text-align: center;
	font-size: 1.2em;
	margin-right: 30px;
	padding-top: 100px;
}
.xarxes a:hover{
	color: cyan;
}

.footer p{
	margin: auto;
	text-align: center;
	font-size: 0.9em;
	color: white;
	padding-top: 0px;
}

.titol{
  animation-name: epileptic;
  animation-duration: 0.5s;
  animation-timing-function: 0.2s;
  animation-iteration-count: infinite;
}

@keyframes epileptic{
  0% {
    background-color: blue;
  }
  50%{
    background-color: green;
  }
  100%{
    background-color: red;
  }
}


@media only screen and (max-width: 1040px) {
    .container{
      flex-direction: column;
      align-items: center;
    }
    .contactinfo{
      width: 80%;
    }
    #formulari{
      width: 80%;
    }
    .contactform h1{
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 880px) {
    .formulariOrg{
      display: flex;
      flex-direction: column;
    }
    textarea{
      margin-left: 0px;
    }
    .enviar{
      margin: 30px 10px 10px 0px;
      width: 100px;
    }
    label{
      margin-left: 0px;
    }
    form{
      display: flex;
      flex-direction: column;
    }
    label{
      text-align: left;
    }
    input{
      width: 80%;
    }
  }